/* heroes.component.css */
.hero-spider-man { color: blue; background-color: red; }
.hero-iron-man { color: gold; background-color: darkred; }
.hero-thor { color: silver; background-color: navy; }
.hero-hulk { color: green; background-color: black; }
